@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#1f2124
#ff8a14 


*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box; 
    font-family: 'Courier New', Courier, monospace; 
}

body{
    background-color:#1f2124;
}


/* header */


.menu{
    display: flex;
}

.container-left{
    float: left;
    padding-top:2%;
    padding-left:5%;
}

.container-right{
    float: right;
    padding-top:3%;
    padding-left:20%;
}

a{
    font-family:concert one;
    font-size:20px;
    color:#f0f8ff;
    text-decoration: none;
    margin:8px;
}


a:hover{
    font-family:concert one;
    font-size:20px;
    color:#ff8a14;
    text-decoration: none;
    margin:8px;
}


#btn-header{
    float: inline-end;
    background-color:transparent;
    margin-top:-1%;
    border-style: solid;
    border-color: #ff8a14;
    border-radius:5%;
    font-family: concert one;
    color:#ff8a14;
    width:150px;
    height:40px;
}

/* logo */
.logo{
    font-size:40px;
    font-family:concert one;
    text-decoration:none;
    color: #f0f8ff;
}
.dot-icon{
    font-size:40px;
    color:#ff8a14 ;  
}

/* banner-burger */

.banner{
    background-color:transparent;
    padding-top:5%;
    display: flex;
    
}

.side-right{
    float: right;
    margin-right:15%;
}

.opcoes{
    width:300px;
    height:80px;
    background-color:transparent;
    font-family:concert one;
    font-size:30px;
    color:#ff8a14;
    outline:none;
    border-style: solid;
    border-color: #ff8a14;
    margin-left:10%;

}


.opcoes:hover{
    width:298px;
    height:78px;
    background-color:transparent;
    font-family:concert one;
    font-size:28px;
    color:#ff8a14;
    outline:none;
    border-style: solid;
    border-color: #ff8a14;
    opacity:0.5;
    margin-left:10%;
    box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);

}


.side-left{
    float: left;
    margin-left:10%;
    background-color:none;
    width:auto;
}

.slogam-2{
    font-family:concert one;
    font-size:50px;
    color: #f0f8ff;
    margin-left:10%;
}

.slogam-1{
    font-family:concert one;
    font-size:80px;
    color: #f0f8ff;
    margin-left:10%;
    margin-top:-10%;
    width:auto;
}


/* responsive */

@media(width<=360px){
    .slogam-1{
        font-family:concert one;
        font-size:20px;
        color: #f0f8ff;
        margin-left:5%;
        margin-top:-5%;
        width:auto;
    }

    .slogam-2{
        font-family:concert one;
        font-size:14px;
        color: #f0f8ff;
        margin-left:5%;
    }

    .side-left{
        float: left;
        margin-left:5%;
        margin-right:5%;
        background-color:none;
        width:auto;
    }

    .side-right{
        float: right;
        margin-right:5%;
    }

    .opcoes{
        width:100px;
        height:30px;
        background-color:transparent;
        font-family:concert one;
        font-size:18px;
        color:#ff8a14;
        outline:none;
        border-style: solid;
        border-color: #ff8a14;
        margin-left:5%;
        box-shadow:0.5px 0.5px 0.5px 0.5px rgb(128, 128, 128,0.3);
    
    }

    .opcoes:hover{
        width:98px;
        height:28px;
        background-color:transparent;
        font-family:concert one;
        font-size:18px;
        color:#ff8a14;
        outline:none;
        border-style: solid;
        border-color: #ff8a14;
        opacity:0.5;
        margin-left:5%;
        box-shadow:0.5px 0.5px 0.5px 0.5px rgb(128, 128, 128,0.3);
    
    }

    .banner{
        background-color:transparent;
        padding-top:2%;
        display: flex;  
    }


    #burger-image{
        width:70%; 
    }
}