@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#1f2124
#ff8a14 


*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box; 
    font-family: 'Courier New', Courier, monospace; 
}

body{
    background-color:#1f2124;
}


