@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* #1f2124 #ff8a14  */


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #1f2124;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}



.container {
    width: 100%;
    margin:auto;
    max-width:1200px;
    padding:0 20px;
    background-color:none;  
    /* display: flex; */
}

/* header */
header .container{
    display: flex;
    align-items: center;
    padding:46px 20px;
    gap:50px;
}

header nav{
    flex:1;
    display: flex;
    align-items: center;
}

header nav .left-side{
    flex:1;
    display:inline-flex;
    gap:50px;
}

header nav li{
    margin:0 30px;
}

header nav a{
    color:#ff8a14;
    font-size:22px;
    text-transform: capitalize;
}

header nav a:hover{
    color:rgb(255, 138, 20,0.2);
    font-size:21px;
    text-transform: capitalize;
}

/* button */

 .btn{
    width:200px;
    height:60px;
    color: #ff8a14;
    background-color:transparent;
    font-size:18px;
    border-color: #ff8a14;
    border-radius:5px;
    border-style: solid;
    padding:15px 30px;
    display: block;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace ;
}

.btn:hover{
    width:200px;
    height:60px;
    color:#f0f8ff;
    border-radius:5px;
    font-size:18px;
    border-color: #ff8a14;
    border-style: solid;
    padding:15px 30px;
    display: block;
    cursor: pointer;
    background:linear-gradient(90deg,#ff8a14,#1f2124);
    font-family:'Courier New', Courier, monospace ;
}

/* responsividade */

header .menu{
    display:none;
    justify-content: flex-end;
    flex:1;
}

header .menu-icon{
    width:32px;
    height:32px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}

header .menu-icon div{
    height:8px;
    background-color: #ff8a14;
}


/* banner */

.banner .container{
    display:flex;
}

.banner .left-side,
.banner .right-side{
    flex:1;
}

.banner .left-side{
    padding-bottom:150px;
    
}

.banner .right-side {
    text-align: center;
    
}

.banner .right-side img{
    width:auto;
    height:600px;
    
}

.banner h1{
    font-family: concert one;
    font-weight: 800;
    font-size:70px;
    color: #f0f8ff;
}

.banner p{
    font-family: concert one;
    line-height:26px;
    color: #f0f8ff;
    margin:40px 0;
}

.banner .pedido{
    width:250px;
    height:70px;
    color:#ff8a14;
    border-style:solid;
    border-radius:5px;
    font-size:18px ;
    border-color: #ff8a14;
    background-color:transparent;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;

}

.banner .pedido:hover{
    width:250px;
    height:70px;
    color:#f0f8ff;
    border-style:solid;
    border-radius:5px;
    font-size:18px ;
    border-color: #ff8a14;
    background-color:transparent;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    background:linear-gradient(90deg,#ff8a14,#1f2124);

}
/* search */
.search{
    background-color:#191919;
    padding:80px 0;
    margin-top:-100px;
}

.search .search-title{
    font-family:concert one;
    font-size:32px;
    color: #f0f8ff;
}

.search .search-sides{
    display: flex;
    margin-top:30px;
    gap:100px;
}

.search .left-side,
.search .right-side{
    flex:1;
}

.search input,
.search select{
    width:100%;
    color: #f0f8ff;
    background-color:#2b2b2b;
    padding:20px;
    border-style: none;
    outline:0;
    font-size:22px;
    border-radius:5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow:2px 2px 2px 2px rgb(0, 0, 0,0.2);  
}

.search input{
    background-image: url('../images/searchIcon.png');
    background-repeat: no-repeat;
    background-position:20px center;
    padding-left:60px;
}

.search select{
    border-right: 22px solid transparent;
}


 @media screen and (max-width:1024px) and (min-width: 425px){
    header nav{
        display: none;
    }

    .banner .container{
        flex-direction: column;
    }

    .banner .left-side{
        text-align: center;
        padding-bottom:30px;
    }

    .banner .right-side{
        padding-bottom:30px;
    }

    .banner .right-side img{
        height:300px;
    }

    .banner h1{
        font-size:38px;
        line-height:50px;
    }

    header .menu{
        display: flex;
    }

    .search{
        padding-bottom:30px;
    }

    .search-title{
        text-align: center;
    }

    .search-sides{
        flex-direction: column;
        gap:20px;
    }
}




